 <%- include("partials/header"); -%>

 <div class="text-center">
     <img style="border-radius:50% ; height: 200px; padding: 5px; width: 200px;" src="img/shahin.jpg" />

     <h2>Get In Touch!</h2>
     <p>Whether You have an idea for a project or just want to chat, feel free to hit me up!</p>
     <div class="emal-button ">
         <button type="button" class="btn btn-outline-dark"><a class="nav-link email-btn-outline"
                 href="mailto:Shahinmiah3232@gmail.com">Say Hello</a></button>
     </div>
 </div>

 <%- include("partials/footer"); -%>